@{
    ViewBag.Title = "Home Page";
}
<b />
<br />




@* Insert new records *@
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data", id = "insertForm", onsubmit = "return checkDatabaseSelectionInsert();" }))
{
    <div>
        @*<---------------------------------------------------->*@
        @*SELECT FILE*@ 

        <p>
            1. Select the latest version of AAI NRF Color Code external file (.xls format).
        </p>
        @Html.TextBox("UploadedFile", "", new { type = "File", @class = "hidden", id = "files" })
        <div class="container">
            <label for="files">Select file</label>
        </div>
        <div class="container">
            <p style="color: red;" id="file-name"></p>
        </div>
        <div class="container">
            <p style="color: red;" id="fail-file"></p>
        </div>
        <br />

        @*<---------------------------------------------------->*@

        @* Clean old records *@
        <p>
            2. Remove old AAI records from Item Master Table. Please select UAT or PROD database server
        </p>

        <div class="container">
            <div class="left-element">
                <button type="button" onclick="checkDatabaseSelectionDelete();">Clean old records</button>
            </div>
            <div class="right-element">
                @Html.DropDownList("DeleteUserDBSelect", new List<SelectListItem>
                {
                    new SelectListItem{ Text="UAT (Server 11.121)", Value = "UAT" },
                    new SelectListItem{ Text="PROD (Server 11.57)", Value = "PROD" },
                }, "Select Database")
            </div>
        </div>
        <br />
        <p id="myMessage"></p>

        <div class="container">
            <h5 id="delete" class="text-danger">@Html.Raw(TempData["DeleteStatus"])</h5>
        </div>

        @*<---------------------------------------------------->*@
        @*INSERT NEW RECORD TO DB*@

        <p>
            3. Insert latest AAI records records to Item Master Table. Please select UAT or PROD database server.
        </p>
        <div class="container">
            <div class="left-element">
                <input type="submit" value="Insert new records" onclick="displayLoadingMessage()" />
            </div>
            <div class="right-element">
                @Html.DropDownList("UserSelectDatabase", new List<SelectListItem>
                {
                  new SelectListItem{ Text="UAT (Server 11.121)", Value = "UAT" },
                  new SelectListItem{ Text="PROD (Server 11.57)", Value = "PROD" },
                }, "Select Database")
            </div>

        </div>
        <br />
        <p id="noInsertSelect"></p>


        <br />
        <p id="loadingMsg"></p>

        @* Display Messages *@
        @{
            if (TempData["MsgChangeStatus"] != null)
            {
                <div class="container">
                    <h5 id="change" class="text-danger">@Html.Raw(TempData["MsgChangeStatus"])</h5>
                </div>
            }

            if (System.Web.HttpContext.Current.Session["process1"] != null)
            {
                string raw_output = System.Web.HttpContext.Current.Session["process1"].ToString();
                var lines = raw_output.Split(new[] { '\r', '\n' }, StringSplitOptions.RemoveEmptyEntries);
                <div class="container">
                    @foreach (var line in lines)
                    {
                        <h6>@line</h6>
                    }
                </div>
            }
        }
    </div>
}

<style>
    label {
        font: bold 15px Arial;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
    }

    .container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        font-size: 15px;
    }

    .left-element {
        margin-right: 40px;
    }

    #myMessage {
        color: red;
    }

    #loadingMsg {
        margin-left: 20px;
        margin-top: 10px;
        color: red;
        font-weight: bold;
    }
</style>


<script>
    document.getElementById('files').onchange = function () {
        document.getElementById('file-name').innerHTML = this.value.replace(/.*[\/\\]/, '');
        document.getElementById('delete').innerHTML = "";
    };

    var myParagraph = document.getElementById('file-name');
    var observer = new MutationObserver(function (mutationsList) {
        for (var mutation of mutationsList) {
            if (mutation.type === 'childList' && mutation.target.nodeName === 'P') {
                console.log('The text has changed');
                var h5_list = document.getElementsByTagName("h5");
                for (let i = 0; i < h5_list.length; i++) {
                    h5_list[i].innerHTML = "";
                }
                var h6_list = document.getElementsByTagName("h6");
                for (let i = 0; i < h6_list.length; i++) {
                    h6_list[i].innerHTML = "";
                }

                document.getElementById("fail-file").innerHTML = "";
            }
        }
    });

    // Observe changes to the paragraph element's text content
    observer.observe(myParagraph, { childList: true });

    function checkDatabaseSelectionDelete() {
        var selectedValue = document.getElementById("DeleteUserDBSelect").value;
        if (selectedValue === "") {
            document.getElementById("myMessage").innerHTML = "No operation because UAT or PROD database is not selected yet.";
            document.getElementById("delete").innerHTML = "";
            return false;
        } else {
            $.ajax({
                url: '@Url.Action("Delete", "Home")',
                type: 'POST',
                data: { userSelect: selectedValue },
                complete: function(xhr, status) {
                    console.log("Finished");
                    var numDeleted = xhr.responseJSON.numDeleted;
                    document.getElementById("delete").innerHTML = "Total " + numDeleted + " AAI old records have been removed from " + selectedValue + " database successfully.";
                    document.getElementById("myMessage").innerHTML = "";
                }
            });
            return true;
        }
    }

    function checkDatabaseSelectionInsert() {
        var selectedValue = document.getElementById("UserSelectDatabase").value;
        if (selectedValue === "") {
            document.getElementById("noInsertSelect").innerHTML = "No operation because UAT or PROD database is not selected yet.";
            document.getElementById("noInsertSelect").style.color = "red";
            document.querySelector('h6').innerHTML = "";
            document.getElementById('change').innerHTML = "";
            document.getElementById("delete").innerHTML = "";
            return false;
        }
        return true;
    }


    function displayLoadingMessage() {
        var loadingMsg = document.getElementById("loadingMsg");
        loadingMsg.innerHTML = "<span style='color:red; font-weight:bold;'>Database insertion is in progress. Please wait a while....</span><br><img src='https://media.giphy.com/media/3oEjI6SIIHBdRxXI40/giphy.gif' width='100' height='100'>";
        // add your other code here
    }

</script>

@if (ViewBag.DeleteElements != null && ViewBag.DeleteElements == true)
{
    <script>
        document.getElementById("delete").innerHTML = "";

    </script>
}



@if (ViewBag.InvalidFile != null && ViewBag.InvalidFile == true)
{
    <script>
        document.getElementById("fail-file").innerHTML = "The file validation is failed because UPC / NRF code is missing";
    </script>
}